html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.content {
  padding: 70px 15px 20px;
}

.categriesParams {
  display: inline-block;
  padding: 10px 10px;
  border-right: 1px solid #ccc;

}

.c_name, .c_parent {
  width: 254px;
}

.c_related{
  width: 304px;
}

.categories_list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#saveCategories {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  cursor: pointer;
}

#saveCategories:hover{
  background-color: #258000;
}

.categories_list ul>li{
  border : 1px solid #ccc;
}

.c_gender {
  width: 225px;
}

.c_visible {
  width: 80px;
}

.ul_blocks {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin-left: 3%;
  padding: 10px;
  border: 1px solid #ccc;
  min-height: 60vh;
}


.categories_list ul>li {
  background: #eee;
  margin: 1px;
  padding: 5px 10px;
  cursor: move;
  border-radius: 5px;
  margin-top: 5px;
}

#categ_buttons>li{
  cursor: pointer;
}

#categ_buttons>li:hover, #categ_buttons>li.active {
  background-color: rgba(0, 102, 255, 0.56);
  color: white;
}

.categories_list ul {
  list-style: none;
  padding: 0;
}


.sortable-ghost {
  opacity: .3;
  background: #f60;
}


#listC {
  border: 2px dashed #f60;
  min-height: 100px
}
